.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 4px;
  text-align: center;
}

.card_img {
  max-height: 200px;
  object-fit: contain;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}